POOL_MIN=3
POOL_MAX=25
QUEUE_MAX=15
PORT_BASE=4000
SESSION_TTL_MS=300000
BOOT_TIMEOUT_MS=60000
WORKER_PORT=3001
DEBUG_WORKERS=false
NEXT_PORT_OFFSET=10000
WORKER_AUTH_TOKEN=generate_a_secure_token_here
